@import url('https://fonts.cdnfonts.com/css/napapiiri');

body    {
    background: #2e5090;
}

td, th  {
    border: 1px solid   #000;
    text-align: center;
    padding: 6px;
    font-family: "Napapiiri",   sans-serif;
    border: none;
    border-top: 1px solid   #000;
}

td  {
    color: #444;
}

table   {
    width: 100%;
    border-spacing: 10px;
}