body    {
    background-color: #2e5090;
}

input   {
    margin: 5px;
    padding: 6px 9px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: greenyellow;
    border-radius: 90px;
}